.Webname > h1 {
    font-size: 3rem;
    background-color: red;
  
    /* Create the gradient. */
    background-image: linear-gradient(98.63deg, #2eaafa 0%, #1060d7 100%);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}